registry=https://registry.npmjs.org/
node-linker=hoisted
public-hoist-pattern[]=@next/swc-*
supportedArchitectures[os][]=linux
supportedArchitectures[os][]=darwin
supportedArchitectures[cpu][]=x64
supportedArchitectures[cpu][]=arm64
